
  <form  method="Level" action="/add/<%= Level.id %>?_method=PUT">
    <div class="form-info">
      <label>Ответ уровня
        <input type="text" name="CorrectAnswer" value>
      </label>
      <label>Текст
        <input type="text" name="Texttask" value>
      </label>
  </form>
</body>
</html>