<nav class="menu">
    <!--ul.menu__list>li.menu__item*5>a.menu__link[href="#"]-->
    <button class="menu__btn">
        <span class = "btn_span"></span>
        <span class = "btn_span"></span>
        <span class = "btn_span"></span>
        <span class = "btn_span"></span>
    </button>
    <ul class="menu__list">
        <li class="menu__close">
            <button class="menu__close_btn">
                <img src="images/close.svg" alt="close_btn">
            </button>
        </li>
        <li class="menu__item">
            <a href="game" class="menu__link">Игры</a>
        </li>
        <li class="menu__item">
            <a href="leaders" class="menu__link">Таблица лидеров</a>
        </li>
        <li class="menu__item">
             <a href="register" class="menu__link">Регистрация</a>
        </li>
        <li class="menu__item">
            <a href="login" class="menu__link">Вход</a>
        </li>
            
         <!-- <li class="menu__item">
            <button class="btnLogin_popup">Войти</button>
        </li> -->
        <!-- <li class="menu__item">
            <a href="#" class="menu__link">Pu-erh</a>
        </li> --> 
        <li class="mobile-nav">
            <ul class="mobile-menu">
                <li class="mobile-menu__item">
                    <a href="#" class="mobile__menu-link">Contact Us</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile__menu-link">Our Blog</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile__menu-link">Shipping and Delivery</a>
                </li>
            </ul>
            <ul class="mobile-actions">
                <li class="mobile-actions__item">
                    <a href="#" class="mobile-action__link">
                         <img src="images/cart.svg" alt="">
                    </a>
                </li>
                <li class="mobile-actions__item">
                    <a href="#" class="mobile-action__link">
                        <img src="images/user.svg" alt="">
                    </a>
                </li>
                <li class="mobile-actions__item">
                    <a href="#" class="mobile-action__link">
                        <img src="images/search.svg" alt="">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>