<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Press+Start+2P&display=swap" rel="stylesheet">
<form  name="form" method="get" action="/game"></form>
  <link rel="stylesheet" href="styles.css">
  <title>CSS Grid Game</title>
</head>

<div name="sessionId"></div>
 
    <% level.forEach(level => { %>
  
  
    <div class="text_field">
        <div class="form-info" >
         
          <label class="text_2" name="Id" text="1"><%=level.Id%></label>
          <label class="text_1" name="texttask" text="Task 1"><%=level.Texttask%></label>
          
        </div>
        <form method="post" action="/game/getResult">  
          <input type="hidden" name="sessionId" value="<%=sessionId%>">
          <div class="input-box" name="Id" value="<%=level.Id%>">
            <input type="text" name="answer">
              <button class="btncheck" name="send">Проверить</button>
              
          </div>
   </div> 
 <% }); %> 



  <div class="game-container">
    <div class="grid">
      <div class="cell knight" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell dragon" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
    </div></form>  
   </div>
   <div class="send-form">
    <button class="send" name="sendAll"><a href="/gamefinish">Отправить</a</button>
</div>

  <script src="front.js/script.js"></script>
</body>
</html>