<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Press+Start+2P&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
  <title>CSS Grid Game</title>
</head>
<body>

    <div class="text_field">
    <h2 class="text-task">Задание</h2>
    <p class="defination-task">Бла-Бла</p>
    <%- include('./partials/textlevel.ejs') %>
    <button class="btncheck">Проверить</button>
    <button class="btnnext">Следующий</button>
    </div>



  <div class="game-container">
    <div class="grid">
      <div class="cell knight" draggable="true">
      </div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell dragon" draggable="true">
      </div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
      <div class="cell" draggable="true"></div>
    </div>
    <div class="set">
      <div class="score">Score: <span id="score">0</span></div>
      <div class="timer">Time: <span id="timer">0</span></div>
    </div>
    </div>
<!-- 
  <script src="front.js/script.js"></script> -->
</body>
</html>