<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles_lead.css"> 
  <link rel="stylesheet" href="style.css"> 
  <title>Таблица результатов</title>
</head>
<body> <form method="get" action="/leaders"></form>
  <table>
    <tr>
      <th>Место</th>
      <th>ID</th>
      <th>Баллы</th>
      <th>Время</th>
     
    </tr>
    <% leaderboardData.forEach((result, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= result.UserId %></td>
        <td><%= result.Score %></td>
        <td><%= result.Times %></td>
      </tr>
    <% }); %>
  </table></form>
</body>
</html>
