body {
    font-family: 'Cormorant', serif;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    background-color: rgb(20, 163, 132);

  }
  .text_field{
    position: relative;
    background: #f2ae4e;
    padding: 20px;
    margin: 40px;
    width: 400px;
    height: 460px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
  }

  .text_field .btncheck, .btnnext{
    margin-bottom: 40px;
    font-weight: 300;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    color: #f2ae4e;
    border-radius: 6px;
    border-color: transparent;
    background: #794b0a;
    text-align: center;
    cursor: pointer;
    padding: 5px;
  }
  input{
    position: relative;
    width: 140px;
    height: 40px;
    border-bottom: 2px solid #2d1804;
    margin: 30px 0;
    background-color: transparent;
    border-radius: 6px;
  }
  .game-container {
    position: fixed;
    height: 450px;
    width: 470px; 
    text-align: center;
    justify-content: center;
    padding: 30px;
    background:url(back.png);
    backdrop-filter: brightness(30%);
    filter: brightness(70%);
    background-repeat: cover;
    border-radius: 10px;
  }
  .column {
    display: flex;
    align-items: center;
    max-height: 100vh; /* Ограничение высоты до высоты окна браузера */
  /* Добавление вертикальной прокрутки, если содержимое выходит за пределы */

  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #5b7073;
    border-radius: 6px;
  }
  .cell.knight{
    background-image:url(knight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(-1, 1)
  }
  .cell.dragon{
    background-image:url(dragon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .set {

    margin-top: 20px;
    text-overflow: initial;
    text-align: center;
    font-weight: 500;
    font-family: 'Cormorant', serif;
    font-size: 50px;
    color: #9d8def;
    filter: brightness(10%);
  }